.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.btn-primary {
    color: rgb(214, 214, 225);
    background-color: blue;
}
.btn-danger{
    color: #fff;
    background-color: rgb(217, 13, 13);
}
h1{
    text-align: center;
    
}